:root {
  --blue-normal: #274272;
  --blue-dark: #172032;
  --bg-page: #212122;
  --bg-container: #161516;
  --bg-panel: #1b1a1b;
  --font-page: #f8f8f8;
  --font-container: #cacaca;
  --font-dark: #828282;
  --font-light: #f8f8f8;
  --font-link: #72a2e5;
  --font-danger: #d06020;
}

/* Grundlegende Stile für den gesamten Body der Webseite */
body {
  font-family: Arial, sans-serif; /* Schriftart */
  margin: 0; /* Kein Außenabstand */
  padding: 0; /* Kein Innenabstand */
  background-color: var(--bg-page); /* Dunkelgraue Hintergrundfarbe */
}

/* Stile für die Kopfzeile */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg-container); /* Dunkelgraue Hintergrundfarbe */
  color: var(--font-container); /* Weiße Textfarbe */
  padding: 11px 0; /* Vertikaler Innenabstand */
  z-index: 100;
}

/* Innerer Container der Kopfzeile für Layout und Ausrichtung */
.header_headerInner {
  display: flex; /* Flexibles Box-Layout */
  justify-content: space-between; /* Elemente gleichmäßig verteilen */
  align-items: center; /* Vertikale Ausrichtung der Elemente */
  position: relative;
}

/* Container für das Menü in der Kopfzeile */
.header_menuContainer {
  display: flex; /* Flexibles Box-Layout */
  justify-content: center; /* Zentrierte Ausrichtung */
  flex-grow: 1; /* Nimmt verfügbaren Platz ein */
  height: 100%;
}

/* Stile für das Hauptmenü */
.main-menu {
  list-style: none; /* Keine Listenpunkte */
  padding: 0; /* Kein Innenabstand */
  display: flex; /* Flexibles Box-Layout */
  justify-content: center; /* Zentrierte Ausrichtung */
  left: 50%;
  transform: translateX(-53%);
  position: absolute;
  height: 100%;
  margin-top: -10px;
}

.main-menu .main-menu-einkaufslisteButton a {
  color: var(--font-link); /* Setzt die Schriftfarbe auf #72a2e5 */
}

/* Stile für einzelne Menüpunkte */
.main-menu li {
  display: inline; /* Inline-Anzeige */
  margin-right: 20px; /* Rechter Außenabstand */
}

/* Stile für Links im Menü */
.main-menu a {
  color: var(--font-container); /* Weiße Textfarbe */
  text-decoration: none; /* Keine Unterstreichung */
  font-weight: bold; /* Fette Schrift */
}

.header_headerInner button {
  background: transparent;
  border: none; /* Kein Rand */
  padding: 0; /* Innenabstand */
  cursor: pointer; /* Mauszeiger als Zeiger */
  margin-right: 103px;
}

/* Stile für die Seitenleiste */
.sidebar {
  background-color: var(--bg-container); /* Dunkelgraue Hintergrundfarbe */
  border-top: 0.125rem solid var(--blue-normal);
  padding: 10px; /* Innenabstand */
  margin-top: 110px; /* Abstand nach oben */
  margin-left: 20px; /* Abstand nach links */
  width: 230px; /* Breite der Seitenleiste */
  position: absolute; /* Absolute Positionierung */
  top: 0; /* Oben im Container */
  left: 0; /* Links im Container */
}

/* Stile für den Suchcontainer */
.search-container {
  display: flex; /* Flexibles Box-Layout */
  flex-direction: column; /* Vertikale Ausrichtung */
}

/* Stile für die Überschrift im Suchcontainer */
.search-heading {
  display: flex; /* Flexibles Box-Layout */
  justify-content: space-between; /* Elemente gleichmäßig verteilen */
  align-items: center; /* Vertikale Ausrichtung der Elemente */
  margin-bottom: 1em; /* Abstand nach unten */
  border-bottom: 0.0625rem solid var(--bg-page);
  margin-left: 5px; /* Abstand nach links */
  color: var(--font-container); /* Hellgraue Textfarbe */
  padding: 0 0.5em 0.25em;
  user-select: none; /* Verhindert das Auswählen des Textes */
}

/* Stile für den Breich in welchem die Manga Reihen angezeigt werden */
.monats-container {
  display: flex;
  flex-direction: column;
  margin-left: 280px; /* Abstand zur Sidebar */
  padding: 20px;
  margin-top: 68px; /* Abstand nach oben */
}

.monats-header {
  display: grid;
  grid-template-columns: 100px 3fr 1fr 1fr;
  gap: 5px;
  background-color: var(--bg-container);
  border-top: 0.125rem solid var(--blue-normal);
  color: var(--font-container);
  padding: 10px;
  user-select: none; /* Verhindert das Auswählen des Textes */
}

.monats-name,
.baende-gesamt,
.preis-gesamt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Stil für den Hinzufügen-Button */
.add-button {
  background: transparent; /* Transparenter Hintergrund */
  border: none; /* Kein Rand */
  padding: 0; /* Kein Innenabstand */
  cursor: pointer; /* Ändert den Mauszeiger */
  width: 19px;
  height: 19px;
  margin: auto;
}
