:root {
  --blue-normal: #274272;
  --blue-dark: #172032;
  --bg-page: #212122;
  --bg-container: #161516;
  --bg-panel: #1B1A1B;
  --font-page: #f8f8f8;
  --font-container: #cacaca;
  --font-dark: #828282;
  --font-light: #f8f8f8;
  --font-link: #72a2e5;
  --font-danger: #d06020;
}

/* Grundlegende Stile für den gesamten Body der Webseite */
body {
  font-family: Arial, sans-serif; /* Schriftart */
  margin: 0; /* Kein Außenabstand */
  padding: 0; /* Kein Innenabstand */
  background-color: var(--bg-page); /* Dunkelgraue Hintergrundfarbe */
}

/* Stile für die Kopfzeile */
.header {
  background-color: var(--bg-container); /* Dunkelgraue Hintergrundfarbe */
  color: var(--font-container); /* Weiße Textfarbe */
  padding: 11px 0; /* Vertikaler Innenabstand */
}

/* Innerer Container der Kopfzeile für Layout und Ausrichtung */
.header_headerInner {
  display: flex; /* Flexibles Box-Layout */
  justify-content: space-between; /* Elemente gleichmäßig verteilen */
  align-items: center; /* Vertikale Ausrichtung der Elemente */
}

/* Container für das Menü in der Kopfzeile */
.header_menuContainer {
  display: flex; /* Flexibles Box-Layout */
  justify-content: center; /* Zentrierte Ausrichtung */
  flex-grow: 1; /* Nimmt verfügbaren Platz ein */
}

/* Stile für das Hauptmenü */
.main-menu {
  list-style: none; /* Keine Listenpunkte */
  padding: 0; /* Kein Innenabstand */
  margin: 0; /* Kein Außenabstand */
  display: flex; /* Flexibles Box-Layout */
  justify-content: center; /* Zentrierte Ausrichtung */
}

.main-menu .main-menu-homeButton a {
  color: var(--font-link); /* Setzt die Schriftfarbe auf #72a2e5 */
}

/* Stile für einzelne Menüpunkte */
.main-menu li {
  display: inline; /* Inline-Anzeige */
  margin-right: 20px; /* Rechter Außenabstand */
}

/* Stile für Links im Menü */
.main-menu a {
  color: var(--font-container); /* Weiße Textfarbe */
  text-decoration: none; /* Keine Unterstreichung */
  font-weight: bold; /* Fette Schrift */
}

/* Stile für die Suchleiste */
.searchbar {
  display: flex; /* Flexibles Box-Layout */
  align-items: center; /* Vertikale Ausrichtung der Elemente */
  background-color: var(--bg-page); /* Dunkelgraue Hintergrundfarbe */
  border-bottom: .0625rem solid var(--blue-normal);
  margin-right: 85px; /* Rechter Außenabstand */
}

/* Stile für das Textfeld in der Suchleiste */
.searchbar input[type="text"] {
  outline: none; /* Kein Umriss bei Fokus */
  flex-grow: 1; /* Nimmt verfügbaren Platz ein */
  padding: 5px 10px; /* Innenabstand */
  border: none; /* Kein Rand */
  border-radius: 0; /* Eckige Form */
  background-color: var(--bg-page); /* Dunkelgraue Hintergrundfarbe */
  color: var(--font-dark); /* Graue Schriftfarbe */
}

/* Stile für den Suchbutton */
.searchbar button {
  background: var(--bg-page); /* Dunkelgraue Hintergrundfarbe */
  border: none; /* Kein Rand */
  padding: 5px; /* Innenabstand */
  cursor: pointer; /* Mauszeiger als Zeiger */
}

/* Stile für SVG-Icons im Suchbutton */
.searchbar button svg {
  height: 1.2em; /* Höhe des Icons */
  width: 1.5em; /* Breite des Icons */
  fill: var(--font-dark); /* Graue Farbe des Icons */
}

/* Stile für die Seitenleiste */
.sidebar {
  background-color: var(--bg-container); /* Dunkelgraue Hintergrundfarbe */
  border-top: .125rem solid var(--blue-normal);
  padding: 10px; /* Innenabstand */
  margin-top: 130px; /* Abstand nach oben */
  margin-left: 20px; /* Abstand nach links */
  width: 230px; /* Breite der Seitenleiste */
  position: absolute; /* Absolute Positionierung */
  top: 0; /* Oben im Container */
  left: 0; /* Links im Container */
}

/* Stile für den Suchcontainer */
.search-container {
  display: flex; /* Flexibles Box-Layout */
  flex-direction: column; /* Vertikale Ausrichtung */
}

/* Stile für die Überschrift im Suchcontainer */
.search-heading {
  display: flex; /* Flexibles Box-Layout */
  justify-content: space-between; /* Elemente gleichmäßig verteilen */
  align-items: center; /* Vertikale Ausrichtung der Elemente */
  margin-bottom: 1em; /* Abstand nach unten */
  border-bottom: .0625rem solid var(--bg-page);
  margin-left: 5px; /* Abstand nach links */
  color: var(--font-container); /* Hellgraue Textfarbe */
  padding: 0 .5em .25em;
  user-select: none; /* Verhindert das Auswählen des Textes */
}

.search-reset img {
  transform: scaleX(-1); /* Spiegelt das Bild horizontal */
  transition: transform 0.3s ease-in-out;
}

@keyframes rotateCounterClockwise {
  from {
    transform: rotate(0deg) scaleX(-1);
  }
  to {
    transform: rotate(-180deg) scaleX(-1);
  }
}

.search-reset img:hover {
  animation: rotateCounterClockwise 0.3s linear forwards; /* Kontinuierliche Drehung */
}

/* Stile für den Hauptfilterbereich */
.filter-main {
  display: flex; /* Flexibles Box-Layout */
  flex-direction: column; /* Vertikale Ausrichtung */
}

/* Stile für das Datumsauswahl-Panel */
.date-panel {
  background-color: var(--bg-panel); /* Dunkelgraue Hintergrundfarbe */
  padding: 10px; /* Innenabstand */
  margin: 10px 0; /* Vertikaler Außenabstand */
  margin-top: -1px; /* Leichter negativer Abstand nach oben */
}

/* Stile für die Select-Elemente im Datumsauswahl-Panel */
.date-panel .filter-select {
  display: block; /* Blockanzeige */
  margin-bottom: 8px; /* Abstand nach unten */
}

/* Entfernt den unteren Rand des letzten Select-Elements im Panel */
.date-panel .filter-select:last-child {
  margin-bottom: 0;
}

/* Stile für einzelne Filterbereiche */
.filter-section {
  margin-bottom: 10px; /* Abstand nach unten */
}

/* Stile für Filter-Labels */
.filter-label {
  display: inline-block; /* Inline-Blockanzeige */
  background-color: var(--blue-normal); /* Dunkelblaue Hintergrundfarbe */
  color: var(--font-light); /* Hellgraue Textfarbe */
  padding: 6px 5px; /* Innenabstand */
  font-size: 10px; /* Kleine Schriftgröße */
  font-weight: bold; /* Fette Schrift */
  position: relative; /* Relative Positionierung für das Dreieck-Icon */
  cursor: pointer; /* Mauszeiger als Zeiger */
  user-select: none; /* Verhindert das Auswählen des Textes */
  margin-bottom: -5px; /* Leichter negativer Abstand nach unten */
  margin-left: 5px; /* Abstand nach links */
  pointer-events: none; /* Keine Mausereignisse */
  font-family: noto-sans,Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

/* Stile für die Select-Elemente */
.filter-select {
  width: 100%; /* Volle Breite */
  padding: .425em calc(1.2em + .5rem) .325em .75em; /* Innenabstand */
  border: none; /* Kein Rand */
  background-color: var(--bg-page); /* Dunkelgraue Hintergrundfarbe */
  color: var(--font-light); /* Hellgraue Textfarbe */
  font-family: noto-sans,Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

/* Stile für den Zurücksetzen-Button */
.search-reset {
  background: none; /* Kein Hintergrund */
  border: none; /* Kein Rand */
  color: var(--font-light); /* Weiße Textfarbe */
  cursor: pointer; /* Mauszeiger als Zeiger */
}

/* Stile für SVG-Icons im Zurücksetzen-Button */
.search-reset svg {
  fill: var(--font-light); /* Weiße Farbe des Icons */
  width: 16px; /* Breite des Icons */
  height: 16px; /* Höhe des Icons */
}

.manga-reihen-container {
  display: flex;
  flex-direction: column;
  margin-left: 280px; /* Abstand zur Sidebar */
  padding: 20px;
  margin-top: 60px; /* Abstand nach oben */
}

.manga-reihen-header {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr 100px;; /* 9 Spalten plus eine für den Button */
  gap: 10px;
  background-color: var(--bg-container);
  border-top: .125rem solid var(--blue-normal);
  color: var(--font-light);
  padding: 10px;
  user-select: none; /* Verhindert das Auswählen des Textes */
}

/* Stil für das Panel, das jede MangaReihe darstellt */
.manga-reihe-panel {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 3fr 1fr 1fr 1fr 100px; /* Definiert die Spaltenstruktur */
  gap: 10px; /* Abstand zwischen den Spalten */
  background-color: var(--bg-panel); /* Hintergrundfarbe des Panels */
  color: var(--font-container); /* Textfarbe */
  padding: 10px; /* Innenabstand */
  border-radius: 5px; /* Abgerundete Ecken */
  margin-top: 10px; /* Abstand zum vorherigen Element */
  align-items: center; /* Zentriert die Inhalte vertikal */
}

/* Stil für die einzelnen Elemente innerhalb des Panels */
.manga-reihe-panel div,
.manga-reihen-header div {
  display: flex;
  flex-direction: column; /* Vertikale Anordnung der Elemente */
  align-items: center; /* Zentriert horizontal */
  justify-content: center; /* Zentriert vertikal */
  text-align: center; /* Zentriert den Text */
}

/* Stil für den Hinzufügen-Button */
.add-button {
  background: transparent; /* Transparenter Hintergrund */
  border: none; /* Kein Rand */
  padding: 0; /* Kein Innenabstand */
  cursor: pointer; /* Ändert den Mauszeiger */
}

/* Stil für das Bild im Hinzufügen-Button */
.add-button img {
  height: 2.5em; /* Höhe des Bildes */
  width: 2.5em; /* Breite des Bildes */
}

/* Stil für den Bearbeiten-Button */
.edit-button {
  background: transparent; /* Transparenter Hintergrund */
  border: none; /* Kein Rand */
  padding: 0; /* Kein Innenabstand */
  cursor: pointer; /* Ändert den Mauszeiger */
}

/* Stil für das Bild im Bearbeiten-Button */
.edit-button img {
  height: 2.5em; /* Höhe des Bildes */
  width: 2.5em; /* Breite des Bildes */
}

.scrollToTopButton {
  display: none; /* Standardmäßig versteckt */
  position: fixed;
  bottom: 20px;
  left: 205px;
  cursor: pointer;
}

.scrollToTopButton button {
  /* Stilangaben für den quadratischen Button */
  width: 65px; /* Breite des Buttons */
  height: 65px; /* Höhe des Buttons */
  padding: 10px 10px;
  background-color: var(--blue-normal);
  border: none;
  border-radius: 5px;
}

.scrollToTopButton button img {
  width: 100%; /* Bild füllt den gesamten Button aus */
  height: auto;
}

/* Style für das Pop-up Fenster zum Hinzufügen neuer Reihen */
.popup-container {
  display: none; /* Versteckt das Pop-up standardmäßig */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Halbtransparenter Hintergrund */
  z-index: 1000; /* Stellt sicher, dass das Pop-up über anderen Elementen liegt */
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: var(--bg-page);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}

.form-row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1.66fr 1fr;
  gap: 10px;
}

.form-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.form-row-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
}

.form-row-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.form-row-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3.5fr 3.5fr;
  gap: 10px;
}

.form-row-6 {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

/* Stil für Labels */
.input-group label {
  margin-bottom: 5px;
  color: var(--font-dark); /* Schriftfarbe für Labels */
  border-bottom: 1px #274272;
}

/* Stil für die Eingabefelder und Select-Felder */
.input-group input[type="text"],
.input-group input[type="number"],
.input-group select {
  padding: 5px;
  background-color: var(--bg-container); /* Hintergrundfarbe */
  color: var(--font-container);          /* Schriftfarbe */
  border: none; /* Rahmenfarbe anpassen */
  margin-bottom: 15px;
}

/* Stil für Checkboxen */
.checkbox-group {
  display: grid;
  grid-template-areas: 
    "label"
    "checkbox"; /* Definiert Bereiche für Label und Checkbox */
  grid-template-rows: auto 1fr; /* Definiert die Höhe der Zeilen */
  gap: 5px;
  align-items: start; /* Startet die Ausrichtung am Anfang, um mit anderen Elementen übereinzustimmen */
  text-align: center; /* Zentriert das Label horizontal */
  height: 100%; /* Stellt sicher, dass die Checkbox-Gruppe die volle Höhe einnimmt */
}

.checkbox-group label {
  grid-area: label; /* Weist das Label dem Bereich 'label' zu */
  color: var(--font-dark);
  font-size: 85%;
}

.checkbox-group input[type="checkbox"] {
  grid-area: checkbox; /* Weist die Checkbox dem Bereich 'checkbox' zu */
  justify-self: center; /* Zentriert die Checkbox horizontal */
  accent-color: var(--bg-container); /* Hintergrundfarbe der Checkbox */
  height: 50%;
  width: 50%;
}

/* Hintergrundfarbe für nicht ausgewählte Checkboxen */
.checkbox-group input[type="checkbox"]:not(:checked) {
  background-color: var(--bg-container); /* Ihre gewünschte Hintergrundfarbe */
  -webkit-appearance: none; /* Entfernt das Standard-Styling für Checkboxen */
  appearance: none;
  width: 25px; /* Feste Breite für Quadrat */
  height: 25px; /* Feste Höhe für Quadrat */
  border: 1px solid var(--font-dark); /* Ihre bevorzugte Rahmenfarbe */
}

/* Anpassungen für Buttons */
.save-button,
.cancel-button,
.mp-autofill-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button {
  background-color: var(--blue-normal);
  color: var(--font-page);
  grid-column: 4/ 5; /* Nimmt eine Spalten ein */
  margin-bottom: 25px;
  width: 100%;
}

.cancel-button {
  background-color: var(--font-dark);
  color: var(--font-page);
  grid-column: 3/ 4;
  width: 100%;
}

.mp-autofill-button {
  background-color: var(--blue-dark);
  color: var(--font-page);
  grid-column: 2/ 3;
  width: 100%;
}

/* Anpassung der Positionierung für Cancel und MP Autofill Buttons */
.form-row:last-child {
  justify-content: flex-start; /* Buttons nach links ausrichten */
}

.cancel-button,
.mp-autofill-button {
  margin-right: 10px; /* Abstand zwischen den Buttons */
}

.number-input-container {
  display: flex;
  align-items: center;
}

/* Allgemeiner Stil für das Anzahl-Bände-Feld */
.input-group .number-input {
  -webkit-appearance: none; /* Für Safari und ältere Chrome-Versionen */
  -moz-appearance: textfield; /* Für Firefox */
  appearance: none; /* Standard-Eigenschaft */
  margin: 0; /* Entfernt Standard-Margin */
  text-align: center;
  /* Weitere Stilangaben wie border, padding, etc. */
}

.number-input-container button {
  padding: 5px 10px;
  margin: 0;
  border: 1px solid var(--font-container);
  background-color: var(--bg-container);
  cursor: pointer;
}

/* Stil für die Buttons */
.spinner-button {
  padding: 5px 10px;
  margin-left: 2px; /* Kleiner Abstand zwischen Input und Buttons */
  cursor: pointer; /* Cursor-Stil für Buttons */
  background-color: var(--bg-container);
  color: var(--font-container);
}

.number-spinner-controls {
  display: flex; /* Flexbox für horizontale Anordnung */
  align-items: center; /* Zentriert die Elemente vertikal */
}



