<!DOCTYPE html>
<html lang="de_DE" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>MangaLib Statistik</title>
    <link
      rel="stylesheet"
      th:href="@{/css/statistik/st_overview.css}"
      href="../static/css/statistik/st_overview.css"
    />
    <link rel="icon" type="image/x-icon" href="/svg/favicon.ico" />
  </head>
  <body>
    <!-- Header für die Seite zur Navigation zwischen den Seiten -->
    <header class="header">
      <nav class="header_headerInner">
        <div class="header_menuContainer">
          <ul class="main-menu">
            <li class="main-menu-homeButton"><a href="/home">Home</a></li>
            <li class="main-menu-statistikButton">
              <a href="/statistik/st_overview">Statistik</a>
            </li>
            <li class="main-menu-einkaufslisteButton">
              <a href="/einkaufsliste">Einkaufsliste</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <!-- Sidebar für die Navigation der Statistiken -->
      <div class="sidebar">
        <div class="search-container">
          <div class="search-heading">
            <span>Navigation</span>
          </div>
          <div class="navigation-body">
            <a class="navigation-overview" href="/statistik/st_overview"
              >Overview</a
            >
            <a class="navigation-status" href="/statistik/st_status">Status</a>
            <a class="navigation-verlag" href="/statistik/st_verlag">Verlag</a>
            <a class="navigation-typ" href="/statistik/st_typ">Typ</a>
            <a class="navigation-format" href="/statistik/st_format">Format</a>
          </div>
        </div>
      </div>

      <!-- Button um direkt nach oben zu scrollen -->
      <div class="scrollToTopButton">
        <button id="scrollToTopButton" onclick="scrollToTop()">
          <!-- SVG Up-Icon -->
          <img th:src="@{/svg/up_icon.svg}" alt="SVG" />
        </button>
      </div>

      <!-- Hier werden die Statistiken angezeigt -->
      <div class="statistik-container">
        <!-- Hier werden die Highlight wie Gesamtanzahl Bände angezeigt -->
        <div class="statistik-highlights">
          <div class="gesamtanzahl-baende">
            <div class="circle-img">
              <!-- SVG Book Icon -->
              <img
                th:src="@{/svg/book_icon.svg}"
                alt="SVG"
                style="height: 1.5em; width: 1.5em"
              />
            </div>
            <div class="wrap">
              <label class="werte" th:text="${gesamtAnzahlBaende}"></label>
              <label class="werte-label">Gesamtanzahl Bände</label>
            </div>
          </div>
          <div class="gesamtanzahl-baende-multiplikator">
            <div class="circle-img">
              <!-- SVG Book Icon -->
              <img
                th:src="@{/svg/typ_icon.svg}"
                alt="SVG"
                style="height: 1.5em; width: 1.5em"
              />
            </div>
            <div class="wrap">
              <label
                class="werte"
                th:text="${gesamtAnzahlMitMultiplikator}"
              ></label>
              <label class="werte-label">Gesamtanzahl mit Multiplikator</label>
            </div>
          </div>
          <div class="gesamtsumme-preis">
            <div class="circle-img">
              <!-- SVG Euro Icon -->
              <img
                th:src="@{/svg/euro_icon.svg}"
                alt="SVG"
                style="height: 1.5em; width: 1.5em"
              />
            </div>
            <div class="wrap">
              <label class="werte" th:text="${gesamtSummeGesamtpreis}  + ' €'"
                >0</label
              >
              <label class="werte-label">Gesamtsumme Gesamtpreis</label>
            </div>
          </div>
          <div class="durschnitt-preis-pro-band">
            <div class="circle-img">
              <!-- SVG Average Icon -->
              <img
                th:src="@{/svg/average_icon.svg}"
                alt="SVG"
                style="height: 1.5em; width: 1.5em"
              />
            </div>
            <div class="wrap">
              <label
                class="werte"
                th:text="${durchschnittlicherPreisProBand} + ' €'"
                >0</label
              >
              <label class="werte-label">Durschnitt Preis pro Band</label>
            </div>
          </div>
        </div>

        <!-- Container für das Säulendiagramm -->
        <div class="container-baende-bar-chart">
          <section>
            <div class="heading-score">
              <h3>Reihen Anzahl</h3>
            </div>
            <div class="bar-chart-wrap">
              <div
                th:each="reihe, iterStat : ${reihenStatistik}"
                class="bar-wrap"
                style="width: 140px"
              >
                <div class="bar" th:style="'height:' + ${reihe.wert} + '%;'">
                  <div class="value" th:text="${reihe.anzahl}"></div>
                </div>
              </div>
            </div>
            <div class="x-axis">
              <div
                th:each="reihe : ${reihenStatistik}"
                class="bar-label"
                style="width: 140px"
                th:text="${reihe.kategorie}"
              ></div>
            </div>
          </section>
        </div>

        <!-- Container für das Liniendiagramm mit den Statistiken pro-->
        <div class="container-statistik-pro-monat">
          <div class="statistik-header">
            <!-- Linker Teil: Titel -->
            <h3 class="header-title">Wert Pro Monat</h3>

            <!-- Rechter Teil: Jahr auswählen und Switch -->
            <div class="header-controls">
              <!-- Jahr auswählen -->
              <select id="yearSelector">
                <!-- Optionen werden dynamisch über JavaScript hinzugefügt -->
              </select>
              <div class="switch">
                <div id="optionBands" class="option active">Bände gekauft</div>
                <div id="optionSpending" class="option">Geld ausgegeben</div>
              </div>
            </div>
          </div>
          <div class="draggable">
            <div class="statistik-pro-monat">
                <svg class="line-chart">
                  <!-- Automatisch genrierte Punkte für das Diagramm und die Linie im Style <circle data-v-84e71bc6="" cx="0" cy="141.30049261083744" r="5" class="point"></circle> -->
                </svg>
                <div class="x-axis-pro-monat">
                  <!-- Automatisch genrierte Label für jeden Monat -->
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/js/scrollToTop.js"></script>

    <!-- Einbinden Ihrer JavaScript-Datei für das Diagramm -->
    <script src="/js/statistik.js"></script>
  </body>
</html>
