-- MySQL dump 10.13  Distrib 8.0.36, for Win64 (x86_64)
--
-- Host: localhost    Database: mangalib
-- ------------------------------------------------------
-- Server version	8.0.36

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `baende`
--

DROP TABLE IF EXISTS `baende`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `baende` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `manga_reihe_id` bigint DEFAULT NULL,
  `band_index` int DEFAULT NULL,
  `band_nr` int DEFAULT NULL,
  `preis` decimal(10,2) DEFAULT NULL,
  `bild_url` varchar(255) DEFAULT 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/330px-No-Image-Placeholder.svg.png?20200912122019',
  `mp_url` varchar(255) DEFAULT NULL,
  `ist_special` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `manga_reihe_id` (`manga_reihe_id`),
  CONSTRAINT `baende_ibfk_1` FOREIGN KEY (`manga_reihe_id`) REFERENCES `mangareihe` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1655 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `baende`
--

LOCK TABLES `baende` WRITE;
/*!40000 ALTER TABLE `baende` DISABLE KEYS */;
/*!40000 ALTER TABLE `baende` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `einkaufsliste`
--

DROP TABLE IF EXISTS `einkaufsliste`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `einkaufsliste` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `manga_index` int DEFAULT NULL,
  `verlag_id` bigint DEFAULT NULL,
  `typ_id` bigint DEFAULT NULL,
  `format_id` bigint DEFAULT NULL,
  `titel` varchar(255) DEFAULT NULL,
  `anzahl_baende` int DEFAULT NULL,
  `preis` decimal(10,2) DEFAULT NULL,
  `gesamtpreis` decimal(10,2) DEFAULT NULL,
  `aenderung_gesamtpreis` decimal(10,2) DEFAULT NULL,
  `erscheinungsdatum` date DEFAULT NULL,
  `gekauft` tinyint(1) DEFAULT '0',
  `status_de` varchar(255) DEFAULT NULL,
  `anzahl_baende_de` int DEFAULT NULL,
  `status_erstv` varchar(255) DEFAULT NULL,
  `herkunft` varchar(255) DEFAULT NULL,
  `start_jahr` int DEFAULT NULL,
  `anzahl_baende_erstv` int DEFAULT NULL,
  `sammelbaende_id` bigint DEFAULT NULL,
  `anilist_url` varchar(255) DEFAULT NULL,
  `cover_url` varchar(255) DEFAULT NULL,
  `ist_ebay_preis` tinyint(1) DEFAULT '0',
  `ist_vergriffen` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `verlag_id` (`verlag_id`),
  KEY `typ_id` (`typ_id`),
  KEY `format_id` (`format_id`),
  KEY `sammelbaende_id` (`sammelbaende_id`),
  CONSTRAINT `einkaufsliste_ibfk_1` FOREIGN KEY (`verlag_id`) REFERENCES `verlage` (`verlag_id`),
  CONSTRAINT `einkaufsliste_ibfk_2` FOREIGN KEY (`typ_id`) REFERENCES `typen` (`typ_id`),
  CONSTRAINT `einkaufsliste_ibfk_3` FOREIGN KEY (`format_id`) REFERENCES `formate` (`format_id`),
  CONSTRAINT `einkaufsliste_ibfk_4` FOREIGN KEY (`sammelbaende_id`) REFERENCES `sammelbaende` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `einkaufsliste`
--

LOCK TABLES `einkaufsliste` WRITE;
/*!40000 ALTER TABLE `einkaufsliste` DISABLE KEYS */;
/*!40000 ALTER TABLE `einkaufsliste` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `formate`
--

DROP TABLE IF EXISTS `formate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `formate` (
  `format_id` bigint NOT NULL AUTO_INCREMENT,
  `bezeichnung` varchar(255) NOT NULL,
  PRIMARY KEY (`format_id`),
  UNIQUE KEY `bezeichnung` (`bezeichnung`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `formate`
--

LOCK TABLES `formate` WRITE;
/*!40000 ALTER TABLE `formate` DISABLE KEYS */;
INSERT INTO `formate` VALUES (3,'Digital'),(2,'Hardcover'),(1,'Softcover');
/*!40000 ALTER TABLE `formate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mangadetails`
--

DROP TABLE IF EXISTS `mangadetails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mangadetails` (
  `id` bigint NOT NULL,
  `status_de` varchar(255) DEFAULT NULL,
  `anzahl_baende_de` int DEFAULT NULL,
  `status_erstv` varchar(255) DEFAULT NULL,
  `herkunft` varchar(255) DEFAULT NULL,
  `start_jahr` int DEFAULT NULL,
  `anzahl_baende_erstv` int DEFAULT NULL,
  `sammelbaende_id` bigint DEFAULT NULL,
  `anilist_url` varchar(255) DEFAULT NULL,
  `cover_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `sammelbaende_id` (`sammelbaende_id`),
  CONSTRAINT `mangadetails_ibfk_1` FOREIGN KEY (`id`) REFERENCES `mangareihe` (`id`),
  CONSTRAINT `mangadetails_ibfk_2` FOREIGN KEY (`sammelbaende_id`) REFERENCES `sammelbaende` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mangadetails`
--

LOCK TABLES `mangadetails` WRITE;
/*!40000 ALTER TABLE `mangadetails` DISABLE KEYS */;
/*!40000 ALTER TABLE `mangadetails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mangareihe`
--

DROP TABLE IF EXISTS `mangareihe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mangareihe` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `manga_index` int DEFAULT NULL,
  `status_id` bigint DEFAULT NULL,
  `verlag_id` bigint DEFAULT NULL,
  `typ_id` bigint DEFAULT NULL,
  `format_id` bigint DEFAULT NULL,
  `titel` varchar(255) NOT NULL,
  `anzahl_baende` int DEFAULT NULL,
  `preis_pro_band` double DEFAULT NULL,
  `gesamtpreis` decimal(10,2) DEFAULT NULL,
  `aenderung_gesamtpreis` decimal(10,2) DEFAULT NULL,
  `erstellt_am` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `aktualisiert_am` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `ist_ebay_preis` tinyint(1) DEFAULT '0',
  `ist_vergriffen` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `status_id` (`status_id`),
  KEY `verlag_id` (`verlag_id`),
  KEY `typ_id` (`typ_id`),
  KEY `format_id` (`format_id`),
  CONSTRAINT `mangareihe_ibfk_1` FOREIGN KEY (`status_id`) REFERENCES `status` (`status_id`),
  CONSTRAINT `mangareihe_ibfk_2` FOREIGN KEY (`verlag_id`) REFERENCES `verlage` (`verlag_id`),
  CONSTRAINT `mangareihe_ibfk_3` FOREIGN KEY (`typ_id`) REFERENCES `typen` (`typ_id`),
  CONSTRAINT `mangareihe_ibfk_4` FOREIGN KEY (`format_id`) REFERENCES `formate` (`format_id`)
) ENGINE=InnoDB AUTO_INCREMENT=153 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mangareihe`
--

LOCK TABLES `mangareihe` WRITE;
/*!40000 ALTER TABLE `mangareihe` DISABLE KEYS */;
/*!40000 ALTER TABLE `mangareihe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sammelbaende`
--

DROP TABLE IF EXISTS `sammelbaende`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sammelbaende` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `multiplikator` int NOT NULL,
  `typ` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sammelbaende`
--

LOCK TABLES `sammelbaende` WRITE;
/*!40000 ALTER TABLE `sammelbaende` DISABLE KEYS */;
INSERT INTO `sammelbaende` VALUES (1,2,'2in1'),(2,3,'3in1');
/*!40000 ALTER TABLE `sammelbaende` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `status`
--

DROP TABLE IF EXISTS `status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `status` (
  `status_id` bigint NOT NULL AUTO_INCREMENT,
  `beschreibung` varchar(255) NOT NULL,
  PRIMARY KEY (`status_id`),
  UNIQUE KEY `beschreibung` (`beschreibung`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `status`
--

LOCK TABLES `status` WRITE;
/*!40000 ALTER TABLE `status` DISABLE KEYS */;
INSERT INTO `status` VALUES (2,'Aktuell'),(3,'Unvollst├ñndig'),(4,'Verkauft'),(1,'Vollst├ñndig');
/*!40000 ALTER TABLE `status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `typen`
--

DROP TABLE IF EXISTS `typen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `typen` (
  `typ_id` bigint NOT NULL AUTO_INCREMENT,
  `bezeichnung` varchar(255) NOT NULL,
  PRIMARY KEY (`typ_id`),
  UNIQUE KEY `bezeichnung` (`bezeichnung`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `typen`
--

LOCK TABLES `typen` WRITE;
/*!40000 ALTER TABLE `typen` DISABLE KEYS */;
INSERT INTO `typen` VALUES (4,'Artbook & Sonstiges'),(2,'Light Novel'),(1,'Manga'),(3,'Webtoon');
/*!40000 ALTER TABLE `typen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verlage`
--

DROP TABLE IF EXISTS `verlage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `verlage` (
  `verlag_id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`verlag_id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verlage`
--

LOCK TABLES `verlage` WRITE;
/*!40000 ALTER TABLE `verlage` DISABLE KEYS */;
INSERT INTO `verlage` VALUES (1,'altraverse'),(2,'C LINES'),(3,'Carlsen Manga'),(4,'Chinabooks'),(5,'CROCU'),(6,'Crunchyroll'),(7,'dani books'),(8,'Dokico'),(9,'Egmont Manga'),(10,'Hayabusa'),(11,'JNC Nina'),(12,'KAZ├ë Manga'),(13,'Loewe Verlag'),(14,'LYX'),(15,'Manga Cult'),(16,'Manga JAM Session'),(18,'Manlin Verlag'),(17,'Manwha Cult'),(19,'Panini Manga'),(20,'papertoons'),(21,'Pixelite Novels'),(22,'Planet Manga'),(23,'Reprodukt'),(24,'Schreiber & Leser'),(25,'SKYLINE NOVELS'),(26,'TOKYOPOP'),(27,'VIZ Media'),(28,'Yomeru');
/*!40000 ALTER TABLE `verlage` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-03-03 23:27:30
