:root {
  --blue-normal: #274272;
  --blue-dark: #172032;
  --bg-page: #212122;
  --bg-container: #161516;
  --bg-panel: #1b1a1b;
  --font-page: #f8f8f8;
  --font-container: #cacaca;
  --font-dark: #828282;
  --font-light: #f8f8f8;
  --font-link: #72a2e5;
  --font-danger: #d06020;
}

/* Grundlegende Stile für den gesamten Body der Webseite */
body {
  font-family: Arial, sans-serif; /* Schriftart */
  margin: 0; /* Kein Außenabstand */
  padding: 0; /* Kein Innenabstand */
  background-color: var(--bg-page); /* Dunkelgraue Hintergrundfarbe */
}

/* Stile für die Kopfzeile */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg-container); /* Dunkelgraue Hintergrundfarbe */
  color: var(--font-container); /* Weiße Textfarbe */
  padding: 24.5px 0; /* Vertikaler Innenabstand */
  z-index: 100;
}

/* Innerer Container der Kopfzeile für Layout und Ausrichtung */
.header_headerInner {
  display: flex; /* Flexibles Box-Layout */
  justify-content: space-between; /* Elemente gleichmäßig verteilen */
  align-items: center; /* Vertikale Ausrichtung der Elemente */
  position: relative;
}

/* Container für das Menü in der Kopfzeile */
.header_menuContainer {
  display: flex; /* Flexibles Box-Layout */
  justify-content: center; /* Zentrierte Ausrichtung */
  flex-grow: 1; /* Nimmt verfügbaren Platz ein */
  height: 100%;
}

/* Stile für das Hauptmenü */
.main-menu {
  list-style: none; /* Keine Listenpunkte */
  padding: 0; /* Kein Innenabstand */
  display: flex; /* Flexibles Box-Layout */
  justify-content: center; /* Zentrierte Ausrichtung */
  left: 50%;
  transform: translateX(-53%);
  position: absolute;
  height: 100%;
  margin-top: -10px;
}

.main-menu .main-menu-statistikButton a {
  color: var(--font-link); /* Setzt die Schriftfarbe auf #72a2e5 */
}

/* Stile für einzelne Menüpunkte */
.main-menu li {
  display: inline; /* Inline-Anzeige */
  margin-right: 20px; /* Rechter Außenabstand */
}

/* Stile für Links im Menü */
.main-menu a {
  color: var(--font-container); /* Weiße Textfarbe */
  text-decoration: none; /* Keine Unterstreichung */
  font-weight: bold; /* Fette Schrift */
}

/* Stile für die Seitenleiste */
.sidebar {
  background-color: var(--bg-container); /* Dunkelgraue Hintergrundfarbe */
  border-top: 0.125rem solid var(--blue-normal);
  padding: 10px; /* Innenabstand */
  margin-top: 110px; /* Abstand nach oben */
  margin-left: 20px; /* Abstand nach links */
  width: 230px; /* Breite der Seitenleiste */
  position: absolute; /* Absolute Positionierung */
  top: 0; /* Oben im Container */
  left: 0; /* Links im Container */
}

/* Stile für den Suchcontainer */
.search-container {
  display: flex; /* Flexibles Box-Layout */
  flex-direction: column; /* Vertikale Ausrichtung */
}

/* Stile für die Überschrift im Suchcontainer */
.search-heading {
  display: flex; /* Flexibles Box-Layout */
  justify-content: space-between; /* Elemente gleichmäßig verteilen */
  align-items: center; /* Vertikale Ausrichtung der Elemente */
  margin-bottom: 1em; /* Abstand nach unten */
  border-bottom: 0.0625rem solid var(--bg-page);
  color: var(--font-container); /* Hellgraue Textfarbe */
  padding: 0 0.5em 0.25em;
  user-select: none; /* Verhindert das Auswählen des Textes */
}

.navigation-overview,
.navigation-status,
.navigation-verlag,
.navigation-typ,
.navigation-format {
  border-radius: 3px;
  background-color: var(--bg-page);
  color: var(--font-light);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  padding: 5px 10px;
  text-decoration: none; /* Entfernt den Unterstrich des href*/
}

/* Stile für den ScrollToTop Button */
.scrollToTopButton {
  display: none; /* Standardmäßig versteckt */
  position: fixed;
  bottom: 20px;
  left: 205px;
  cursor: pointer;
}

.scrollToTopButton button {
  /* Stilangaben für den quadratischen Button */
  width: 65px; /* Breite des Buttons */
  height: 65px; /* Höhe des Buttons */
  padding: 10px 10px;
  background-color: var(--blue-normal);
  border: none;
  border-radius: 5px;
}

.scrollToTopButton button img {
  width: 100%; /* Bild füllt den gesamten Button aus */
  height: auto;
}

/* Stile für den Hauptteil der Seite mit den Statistiken */
.statistik-container {
  display: flex;
  flex-direction: column;
  margin-left: 280px; /* Abstand zur Sidebar */
  padding: 20px;
  margin-top: 68px; /* Abstand nach oben */
}

.statistik-highlights{
  border-top: 0.125rem solid var(--blue-normal);
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  background-color: var(--bg-container);
  padding: 25px 80px 25px 80px;
}

.gesamtanzahl-baende,
.gesamtanzahl-baende-multiplikator,
.gesamtsumme-preis,
.durschnitt-preis-pro-band {
  display: flex;
  align-items: center;
  min-width: 140px;
}

.circle-img {
  background: var(--bg-panel);
  height: 40px;
  width: 40px;
  align-items: center;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  text-align: center;
}

.wrap {
  padding-left: 16px;
}

.werte {
  color: var(--blue-normal);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 6px;
}

.werte-label {
  color: var(--font-container);
  display: flex;
  font-weight: 600;
}

/* Stile für das Säulendiagramm mit den Reihen */
.container-baende-bar-chart {
  margin-top: 30px;
  margin-bottom: 60px;
}

.heading-score {
  align-items: center;
  display: flex;
  min-height: 46px;
  color: var(--font-container);
  padding-left: 35px;
  border-bottom: 0.0625rem solid var(--bg-page);
}

.bar-chart-wrap {
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px 15px 0px 0px;
  background-color: var(--bg-container);
}

.bar-wrap {
  align-items: flex-end;
  height: 100%;
  justify-content: center;
  display: flex;
  height: 200px;
}

.bar {
  background-color: var(--blue-normal);
  border-radius: 4px 4px 0 0;
  min-width: 35px;
  text-align: center;
}

.bar .value {
  text-align: center;
  margin-top: -22px;
  color: var(--font-container);
}

.x-axis {
  background: var(--bg-panel);
  display: inline-flex;
  overflow: visible;
  user-select: none;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
}

.bar-label {
  display: inline-block;
  padding-bottom: 15px;
  padding-top: 20px;
  position: relative;
  text-align: center;
  z-index: 15;
  color: var(--font-container);
}

/* CSS Style fue Statistik pro Monat */

.container-statistik-pro-monat{
  margin-bottom: 60px;
}

.statistik-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0px 35px;
}

.header-title {
  color: var(--font-container);
}

.header-controls {
  display: flex;
  align-items: center;
}

#yearSelector {
  margin-right: 20px;
  padding: 5px 10px;
  background-color: var(--bg-container);
  color: var(--font-light);
  border: none;
  border-radius: 5px;
}

.switch {
  display: flex;
  background-color: var(--bg-container);
  border-radius: 25px;
  padding: 3px;
}

.option {
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 20px;
  color: var(--font-light);
  background-color: var(--bg-panel);
  transition: background-color 0.3s ease;
}

.option.active {
  background-color: var(--blue-normal);
  color: var(--font-page);
}

.line-chart-wrap {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: var(--bg-panel);
  padding: 20px 40px 40px 40px;  /* Abstand innen: Oben, Rechts, Unten, Links */
  box-sizing: border-box; /* Padding wird in die Gesamtgröße eingerechnet */
}

.line-chart {
  width: 100%;
  height: 100%;
  overflow: visible; /* Sicherstellen, dass nichts abgeschnitten wird */
  background-color: var(--bg-container);
  border-radius: 15px 15px 0px 0px;
  margin-bottom: -5px;
}

.point {
  fill: var(--blue-normal);
}

.value-label {
  font-size: 12px;
  color: var(--font-container);
  text-anchor: middle;
}

.x-axis-pro-monat {
  background: var(--bg-panel);
  display: inline-flex;
  overflow: visible;
  user-select: none;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
}

.x-axis-label {
  display: inline-block;
  padding-bottom: 15px;
  padding-top: 20px;
  position: relative;
  text-align: center;
  z-index: 15;
  color: var(--font-container);
}





